<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <figure class="image is-128x128">
            <img class="is-rounded" src= <%= @github_user.avatar_url %>>
          </figure>
        </div>
        <div class="column is-half">
          <h1 class="title is-size-1 ">
            <%= current_user.name %>
          </h1>
        </div>
        <div class="column">
          <h1 class="title has-text-weight-light">
            Followers: <%= @github_user.followers %>
          </h1>
        </div>
        <div class="column">
          <h1 class="title has-text-weight-light">
            Following: <%= @github_user.following %>
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="columns is-centered">
    <div class="column is-narrow">
      <table class="table has-content-centered is-striped is-hoverable is-bordered is-fullwidth">
        <thead>
          <tr>
            <th class = 'has-text-grey-dark has-text-centered'>Name</th>
            <th class = 'has-text-grey-dark has-text-centered'>Description</th>
            <th class = 'has-text-grey-dark has-text-centered'>Link</th>
            <th class = 'has-text-grey-dark has-text-centered'>Stars</th>
            <th class = 'has-text-grey-dark has-text-centered'>Created</th>
            <th class = 'has-text-grey-dark has-text-centered'>Updated</th>
          </tr>
        </thead>
        <tbody>
        <% @github_user.repositories.each do |repository| %>
          <tr>
            <td class = 'has-text-grey-dark has-text-centered is-size-6'><%= repository.name %></td>
            <td class = 'has-text-grey-dark has-text-centered is-size-6'><%= repository.description %></td>
            <td class = 'has-text-grey-dark has-text-centered is-size-6'><%= link_to 'View Code', repository.url %></td>
            <td class = 'has-text-grey-dark has-text-centered is-size-6'><%= repository.star_count %></td>
            <td class = 'has-text-grey-dark has-text-centered is-size-6'><%= repository.created_at %></td>
            <td class = 'has-text-grey-dark has-text-centered is-size-6'><%= repository.updated_at %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>

<h1>Activity Feed</h1>
<% @github_user.events.each do |event| %>
Type: <%= event.type %>
Repo: <%= event.repo_name %> 
Message: <%= event.message %>
Date: <%= event.created_at %>
<% end %>