<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <figure class="image is-128x128">
            <img class="is-rounded" src= <%= @github_user.avatar_url %>>
          </figure>
        </div>
        <div class="column is-half">
          <h1 class="title is-size-1 ">
            <%= current_user.username %>
          </h1>
        </div>
        <div class="column">
          <h1 class="title has-text-weight-light">
            Followers: <%= @github_user.followers %>
          </h1>
        </div>
        <div class="column">
          <h1 class="title has-text-weight-light">
            Following: <%= @github_user.following %>
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>

<h1>My Repositories</h1>
<p><% @github_user.repositories.each do |repository| %>
    Name: <%= repository.name %>
    Description: <%= repository.description %>
    Link: <%= repository.url %>
    Stars: <%= repository.star_count %>
    Created: <%= repository.created_at %>
    Updated: <%= repository.updated_at %>
<% end %></p>
