<h2>Hello <%= current_user.username %>!</h2>
<img src= <%= @github_user.avatar_url %>, class='profile_pic'>
<p>Followers: <%= @github_user.followers %></p>
<p>Following: <%= @github_user.following %></p>

<%= button_to "Log Out", logout_path, method: :delete %>